<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bg-cn" style="height: 100%;">
     <table style="width: 100%;">
         <tr>
             <td>
                <div class="card" style="margin-left: 40%;">
                    <img src="/src/assets/avt2.jpg" alt="Akash" style="height: 250px; width:100%;">
                    <h3>Akash Wadhawane</h3>
                    <p class="title">Developer,CDAC</p>
                    <p>Sunbeam Infotech</p>
                    <!-- <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a> -->
                    <p>
                    PRN    : 190840820111 <br />
                    Course : PG-DAC       <br />
                    Mobile : 8149281827     <br />
                    Email  : akash3699@gmail.com   <br />
                    </p>
                    <!-- <p><button>Contact</button></p> -->
                    </div>
             </td>
         </tr>
     </table>
    </div>