<h2 style="text-align:center">Forgot Password</h2>

    <form >
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <tr>
    
                <td><b> Enter Email:</b></td>
                <td>
                    <input type="email" name="email" required="required">
                </td>
            </tr>
    
           
    
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" name="updtbtn" class="btn btn-info" value="Get SignIn Link">
    
                           
                </td>
            </tr>
        </table>


    </form>