<h2 style="text-align:center">Premium Calculator</h2>

    <form >
      <div class="container" >
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            

          <tr>
              <td><b> Policy Name:</b></td>
              <td>
             <input type="text" [(ngModel)]="PolicyData.policyname" readonly name="policyname" id="policyname" >
             </td>
              
          </tr>
            <tr>
                <td><b>Payment Frequency:</b></td>
               <td>
               <select style="background-color: aliceblue;" name="ps" [(ngModel)]="PolicyData.ps" placeholder="Select Premium Frequency" required id="ps" class="form-control">
                    <!-- <option value="" style="color:black;" disabled selected hidden>Select your option</option>  -->
                <option value="YEARLY" >Yearly</option>
                 <option value="MONTHLY">Monthly</option>
                 <option value="WEEKLY">Weekly</option>
               </select>
              </td>
            
            </tr>
    
            
    
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="button" (click)="CalculatePremium()"  name="calbtn" class="btn btn-info" value="Calculate Premium">
    
                           
                </td>
            </tr>

            <tr>
    
                <td><b>Premium Amount:</b></td>
                <td>
                    <input type="number" [(ngModel)]="PolicyData.premiumamout" placeholder="Premium Amount" disabled name="premiumamout" required>
                </td>
            </tr>

            <tr>
    
                <td><b>Premium Count:</b></td>
                <td>
                    <input type="number" [(ngModel)]="PolicyData.totalpremiumcount" placeholder="Total Premium Count" disabled name="totalpremiumcount" required>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="button" (click)="BuyPolicy()" name="buybtn" class="btn btn-info" value="Buy Policy">
    
                    <input type="button" routerLink="/Home"  name="cancel" class="btn btn" value="Cancel"> 
                    
                </td>
            </tr>
        </table>
        {{msg}}
      </div>
    </form>