<!DOCTYPE html>
<html lang="en">

<body>
  <h1 style="text-align: center;">Online Insurance Management System</h1>

  
<marquee>New updates:Insurance Policy</marquee>       
<button type="button" routerLink="/" class="btn btn-info">DashBoard</button><br>
<table class="table">
<tr>
<th>Policy ID</th>
<th>Policy Name</th>
<th>Paid Date</th>
<th>Premium Amount</th>
<th>Total Premium Count </th>
<th></th>

</tr>
   
   <tr>
       
       <td>1</td>
       <td>Policy1</td>
       <td>15 Dec 2019</td>
       <td>9867</td>
       <td>14</td>
      
       
       
       
  </tr>



</table>



</body>

</html>