<!DOCTYPE html>
<html lang="en">

<body>
  <h1 style="text-align: center;">History of Paid Premiums : Online Policy Management System</h1>

  
<marquee>New updates:Insurance Policy</marquee>       
<button type="button" routerLink="/" class="btn btn-info">DashBoard</button><br>
<table class="table">
<tr>
<th>Policy ID</th>
<th>Policy Name</th>
<th>Paid Date And Time</th>
<th>Premium Amount</th>
<!-- <th>Total Premium Count </th> -->
<th></th>

</tr>
   <!-- <tr *ngFor="let psdata of this.CustPolicyData.premiumschedule.historyofpaidpremium"> -->
   <ng-container *ngFor="let custdata of CustPolicyData;let i=index">
    <tr  *ngFor="let psdata of custdata.premiumschedule">
       <ng-container *ngIf="psdata.historyofpaidpremium.paiddate">
       <td>{{this.custdata.policyid.policyid}}</td>
       <td>{{this.custdata.policyid.policyname}}</td>
       <td>{{psdata.historyofpaidpremium.paiddate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
       <td>{{this.custdata.premiumamout}}</td>
       <!-- <td>14</td> -->
      </ng-container>
    </tr>
       
       
  </ng-container>

   <!-- </tr> -->

</table>



</body>

</html>