<h1 style="text-align: center;"><b>About Online Insurance Management System</b></h1>


    
    
        <div class="card" style="width: 100%;margin-left: 20%;">
                <img src="/src/assets/p1.jpg" class="card-img-top" alt="...">
                <div class="card-body" style="width: 65%;">
                  <p class="card-text">The online policy management system project manages the activities related to
                        insurance of people and there information and data to the insurance company. The insurance
                        can be for the any company,any human being or any other product such as vehicle,mobile,etc.</p>
                    <p class="card-text">Adding to it this system contains policy details that can be accessible by customer and
                        handled by the administrator. The user can add new policy and paid premium by calculating it
                        on premium calculator. And the admin can view all the details of the user and manage it by
                        using admin dashboard. The user can track on there policy by using claim tracker.
                    <p class="card-text">Furthermore,the insurance holder can view details of there policies and manage there
                        profile whereas administrator or insurance company can manage or view all details of
                        customers there policies and can track there valuable customers. Also they can view the
                        customer’s inactive policies. With this information they can reach out to the customer.</p>
                </div>
              </div>
    


