<h1 style="text-align: center;"><b>About Online Insurance Management System</b></h1>




<div class="card" style="width: fit-content;">
  <img src="/src/assets/p1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">The Online Policy Management System Project Manages The Activities Related to
        Insurance of People And There Information And Data to The Insurance Company. The Insurance
        can Be For The Any Company,any Human Being or Any Other Product Such As Vehicle,mobile,etc.</p>
    <p class="card-text">Adding to It This System Contains Policy Details That can Be Accessible By Customer And
        Handled By The Administrator. The User can Add New Policy And Paid Premium By Calculating It
        on Premium Calculator. And The Admin can View All The Details of The User And Manage It By
        Using Admin Dashboard. The User can Track on There Policy By Using Claim Tracker.
      <p class="card-text">Furthermore,the Insurance Holder can View Details of There Policies And Manage There
          Profile Whereas Administrator or Insurance Company can Manage or View All Details of
          Customers There Policies And can Track There Valuable Customers. Also They can View The
          Customer’s Inactive Policies. With This Information They can Reach Out to The Customer.</p>
  </div>
</div>