<h2 style="text-align:center">Manage Policy</h2>

    <form action="editprofile.php" method="POST">
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <tr>
                <td><b>Select Policy:</b></td>
                <td>
                <select name="PolicyName" id="input" class="form-control">
                  <option value="">Market Plus II</option>
                  <option value="">Market Plus I</option>
                  <option value="">Health Insurance</option>
                </select>
               </td>
                
            </tr>
    
            <tr>
    
                <td><b>Benefits:</b></td>
                <td>
                    <input type="text" name="PolicyDescription" required="required">
                </td>
            </tr>

            <tr>
    
                <td><b>Years:</b></td>
                <td>
                    <input type="Number" name="PolicyDuration" required="required">
                </td>
            </tr>

            <tr>
    
                <td><b>Amount for Insurance:</b></td>
                <td>
                    <input type="Number" name="Totle Insurance Amount" required="required">
                </td>
            </tr>
    
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" name="addpolicytbtn" class="btn btn-info" value="Update Policy">
    
                           
                </td>
            </tr>
        </table>


    </form>