<h2 style="text-align:center">Manage Policy</h2>

<table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px">


    <tr>

        <td><b> Policy Name:</b></td>
        <td>
            <input type="text" name="policyname" [(ngModel)]="PolicyData.policyname" required="required">
        </td>
    </tr>

    <tr>

        <td><b>Benefits:</b></td>
        <td>

            <input type="text" name="policydescription" [(ngModel)]="PolicyData.policydescription" id="policydescription" class="form-control" rows="3"
                required="required">

            <!-- <input type="text" disabled value="{{this.PolicyData.policydescription}}" name="policydescription" required="required"> -->
        </td>
    </tr>

    <tr>

        <td><b>Years:</b></td>
        <td>
            <input type="Number" [(ngModel)]="PolicyData.policyduration" disabled name="policyduration" required="required">
        </td>
    </tr>

    <tr>

        <td><b>Amount for Insurance:</b></td>
        <td>
            <input type="Number" [(ngModel)]="PolicyData.totalinsuranceamount" disabled name="totalinsuranceamount"
                required="required">
        </td>
    </tr>
    <tr>
            <td><input type="button" (click)="UpdatePolicy()" name="bckbtn" class="btn btn-success" value="UpdatePolicy"></td>
        <td><input type="button" routerLink="/Home" name="bckbtn" class="btn btn-info" value="Back"></td>
    </tr>

</table>