<h2 style="text-align:center">Add Policy</h2>

    <form #myForm="ngForm" (ngSubmit)="FormValidation(myForm)">
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <tr>
    
                <td><b> Policy Name:</b></td>
                <td>
                    <input ngModel type="text" name="policyname" required="required">
                </td>
            </tr>
    
            <tr>
    
                <td><b>Benefits:</b></td>
                <td>
                    
                    <textarea ngModel name="policydescription" id="policydescription" cols="30" rows="5"></textarea>
                </td>
            </tr>

            <tr>
    
                <td><b>Years:</b></td>
                <td>
                    <input ngModel type="Number" name="policyduration" required="required">
                </td>
            </tr>

            <tr>
    
                <td><b>Amount for Insurance:</b></td>
                <td>
                    <input ngModel type="Number" name="totalinsuranceamount" required="required">
                </td>
            </tr>
    
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" name="addpolicytbtn" class="btn btn-info" value="Add Policy">
                    <label style="position: absolute; left: 150px; "><b>{{msg}}</b></label>
                           
                </td>
            </tr>
            
        </table>


    </form>