.container{
  width: 350px;
  padding: 20px;
  padding-top: 25px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(23, 25, 26);
  border-radius: 10px;
}

.copyright
{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  color:black;
  padding: 1.4em;
  text-align: center;
}

.form-control
{
  width: 85%;
}

h4
{
  text-align: center;
}

.form-group{
  margin-left: 25px ;
}
.btn{
  margin-left: 10px;
}