
<div class="container">
    <form role="form" #myForm="ngForm" (ngSubmit)="FormValidation(myForm.value)">
        <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="text" ngModel name="email" pattern="[[a-zA-Z0-9_\-\.]+@([a-zA-Z0-9_\-\.]+)\.[a-zA-Z]{2,5}]*"
                #Vemail="ngModel" class="form-control" [class.alert-danger]=" Vemail.touched   && Vemail.invalid"
                id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
            <div *ngIf="Vemail.touched && Vemail.invalid" style="width:20px;height: 20px;"
                class="spinner-border text-danger" role="status">
                <span class="sr-only">...</span>
            </div>
                 <div class="alert-danger" *ngIf="Vemail.touched && Vemail.invalid" style="width:50%;">Email is not valid
            </div>
            <div class="alert-success" *ngIf="Vemail.touched && Vemail.valid" style="width: 50%;">OK</div>
        </div>
        <div class="form-group">
            <label for="pwd"><b>Password</b></label><br>
            <input ngModel type="password" class="form-control" placeholder="Enter Password" name="passwd">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-primary" routerLink="/SignUp">Sign Up</button>
        </div>
            <div class="form-group">
            <button type="button" class="btn btn-secondory" routerLink="/ForgotPassword">Forgot Password</button>
        </div>
            <b style="position: absolute; left: 83px;">{{msg}}</b>
      </form>
</div>


