<h2 style="text-align:center">Pay Premium</h2>

    <form >
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <!-- <tr>
    
                <td><b> Policy Name:</b></td>
                <td>
                    <input type="text" [(ngModel)]="PremiumSchedule.policyduration" name="PolicyName" disabled value="Market Plus III" required="required">
                </td>
            </tr> -->
    
            <tr>
    
                <td><b>Premium Amount</b></td>
                <td>
                    <input type="number" [(ngModel)]="PolicyData.premiumamout" disabled name="premiumamout" required="required">
                </td>
            </tr>

            <tr>
    
              <td><b>Premium Date</b></td>
              <td>
                  {{PremiumSchedule.premiumdate |  date:'yyyy-MM-dd'}}
              </td>
          </tr>
    
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" (click)="PayPremiumNow()" name="paybtn" class="btn btn-info" value="Pay Premium">
    
                           
                </td>
            </tr>
        </table>


    </form>