<div class="box">
  <div class="container" style="text-align: left">
    <h1><b>Edit Profile</b></h1>

    <label for="userId">UserId</label><label for="email" style="margin: 5px 235px;">Email Address</label><br>

    <input [(ngModel)]="UserData.userId" readonly style=" margin: 5px 0px;" type="text" class="form-control" id="userId"
      name="userId">
    <input [(ngModel)]="UserData.email" readonly type="text" class="form-control" id="email" name="email"><br>


    <label for="fname">Fisrt Name</label><label for="lname" style="margin: 5px 200px;">Last Name</label><br>
    <input [(ngModel)]="UserData.fname" placeholder="Enter First Name"  style=" margin: 5px 0px;" type="text" class="form-control" id="fname"
      name="fname">
    <input [(ngModel)]="UserData.lname" type="text" placeholder="Enter Last Name" class="form-control" id="lname" name="lname"><br>

    

    <label for="mobile">Phone Number</label><label for="dob" style="margin: 5px 200px;">Date of Birth: {{this.dob |  date:'yyyy-MM-dd'}}</label><br>

    <input [(ngModel)]="UserData.mobile" style=" margin: 5px 0px;" placeholder="Enter Mobile No"  type="text" class="form-control" id="mobile"
      name="mobile">
      
    <input [(ngModel)]="UserData.dob"  type="date" class="form-control" id="dob" name="dob"><br>

    <label for="gender">Gender</label><br>
    <select class="select" [(ngModel)]="UserData.gender" name="gender">
      <option [value]="MALE">MALE</option>
      <option [value]="FEMALE">FEMALE</option>
      <option [value]="OTHER">OTHER</option>
    </select><br>

    <button type="button" (click)="UpdateUserData()" class="btn btn-primary">Update</button><br>
    <button type="button" routerLink="/Profile" class="cancelbtn">Cancel</button>

    <span>
      {{msg}}
    </span>
  </div>
</div>
<!-- <div class="copyright">All Rights Reserved. Copyright © Online Insurance Management System FoodWorks Ltd.</div> -->