<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!service.isAdmin()">
  <a class="navbar-brand" routerLink="/Home">OPMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="!service.isAdmin()">
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/Home">Home</a>
      </li>
      <li class="active">
        <a routerLink="/AboutUs">About Us</a>
      </li>
      <li class="active">
        <a routerLink="/ContactUs">Contact Us</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" *ngIf="!service.isLoggedIn()">
        <a routerLink="/Login">Login</a>
      </li>
      <li class="active" *ngIf="service.isLoggedIn()">
        <a routerLink="/Profile">Profile</a>
      </li>
      <li class="active" *ngIf="service.isLoggedIn()">
        <a href="#" (click)="Logout()">Logout</a>
      </li>
      <li class="active" *ngIf="!service.isLoggedIn()">
        <a routerLink="/SignUp">SignUp</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a routerLink="Home" *ngIf="service.isLoggedIn()">DashBoard</a></li>
          <li><a routerLink="Profile" *ngIf="service.isLoggedIn()">My Profile</a></li>
          <li><a routerLink="HistoryofPaidPremium" *ngIf="service.isLoggedIn()">History of Paid Premium</a></li>
          <li><a routerLink="ChangePassword" *ngIf="service.isLoggedIn()">Change Password</a></li>
          <li><a routerLink="ClaimTracker" *ngIf="service.isLoggedIn()">Claim Tracker</a></li>
          <li><a (click)="Logout()" *ngIf="service.isLoggedIn()">Logout</a></li>
          <li><a routerLink="Login" *ngIf="!service.isLoggedIn()">Login</a></li>
        </ul>
      </li>
    </ul>
  </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="service.isAdmin()">
  <a class="navbar-brand" routerLink="/Home">OPMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="service.isAdmin()">
    <ul class="nav navbar-nav">
      <li class="active">
        <a routerLink="/Admin">Home</a>
      </li>
      <li class="active">
        <a routerLink="/AboutUs">About Us</a>
      </li>
      <li class="active">
        <a routerLink="/ContactUs">Contact Us</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active" *ngIf="!service.isLoggedIn()">
        <a routerLink="/Login">Login</a>
      </li>
      <li class="active" *ngIf="service.isLoggedIn()">
        <a href="#" (click)="Logout()">Logout</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a routerLink="/Admin/CustomerPolicyDetails" *ngIf="service.isLoggedIn()">DashBoard</a></li>
          <li><a routerLink="/Admin/AddPolicy" *ngIf="service.isLoggedIn()">Add Policy</a></li>
          <li><a routerLink="/Admin/AddClaimTracker" *ngIf="service.isLoggedIn()">Add Claim Tracker</a></li>
          <li><a routerLink="/Admin/AllClaimTrackers" *ngIf="service.isLoggedIn()">All Claim Tracker</a></li>
          <li><a routerLink="/ChangePassword" *ngIf="service.isLoggedIn()">Change Password</a></li>
          <li><a (click)="Logout()" *ngIf="service.isLoggedIn()">Logout</a></li>
          <li><a routerLink="Login" *ngIf="!service.isLoggedIn()">Login</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer-basic-centered">
  <p class="footer-company-motto"><b id="motto">Online Policy Management System</b></p>
  <p class="footer-links">

    <a class="ftlogo" href="/" id="links"> Home Page |</a>
    <a class="ftlogo" routerLink="/ContactUs" id="links"> Contact Us |</a>
    <a class="ftlogo" routerLink="/AboutUs" id="links"> About Us |</a>
    <a class="ftlogo" routerLink="/" id="links"> Visit OPMS</a>
  </p>
  <p class="footer-company-name">© 2020 OPMS India. All rights reserved.</p>
  <div class="align-middle text-center" id="links">
    <h3 class="text-white typography-5 mb-10">Follow Us</h3>
    <a class="ftlogo" href="https://www.facebook.com/"> <img width="24" height="24" alt="Like us on Facebook"
        src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/fb.png"> Facebook |</a>
    <a class="ftlogo" href="https://twitter.com/"> <img width="67" alt="Follow us on Twitter"
        src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/twitter.png"> Twitter |</a>
    <a class="ftlogo" href="https://www.instagram.com/"><img width="24" height="24" alt="Follow us on Instagram"
        src="http://cache1.artprintimages.com/images/jump_pages/rebrand/footer/instagram-badge.png"> Instagram </a>
  </div>



</footer>



<!-- ============================================================================================================== -->
<!-- <div class="container-fluid"> -->
<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/Home">Online Policy Management System</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="!service.isAdmin()">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/Home">Home</a>
        </li>
        <li class="active">
          <a routerLink="/AboutUs">About Us</a>
        </li>
        <li class="active">
          <a routerLink="/ContactUs">Contact Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active" *ngIf="!service.isLoggedIn()">
          <a routerLink="/Login">Login</a>
        </li>
        <li class="active" *ngIf="service.isLoggedIn()">
          <a routerLink="/Profile">Profile</a>
        </li>
        <li class="active" *ngIf="service.isLoggedIn()">
          <a href="#" (click)="Logout()">Logout</a>
        </li>
        <li class="active" *ngIf="!service.isLoggedIn()">
          <a routerLink="/SignUp">SignUp</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="Home" *ngIf="service.isLoggedIn()">DashBoard</a></li>
            <li><a routerLink="Profile" *ngIf="service.isLoggedIn()">My Profile</a></li>
            <li><a routerLink="HistoryofPaidPremium" *ngIf="service.isLoggedIn()">History of Paid Premium</a></li>
            <li><a routerLink="ChangePassword" *ngIf="service.isLoggedIn()">Change Password</a></li>
            <li><a routerLink="ClaimTracker" *ngIf="service.isLoggedIn()">Claim Tracker</a></li>
            <li><a (click)="Logout()" *ngIf="service.isLoggedIn()">Logout</a></li>
            <li><a routerLink="Login" *ngIf="!service.isLoggedIn()">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="service.isAdmin()">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/Admin">Home</a>
        </li>
        <li class="active">
          <a routerLink="/AboutUs">About Us</a>
        </li>
        <li class="active">
          <a routerLink="/ContactUs">Contact Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active" *ngIf="!service.isLoggedIn()">
          <a routerLink="/Login">Login</a>
        </li>
        <li class="active" *ngIf="service.isLoggedIn()">
          <a href="#" (click)="Logout()">Logout</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/Admin/CustomerPolicyDetails" *ngIf="service.isLoggedIn()">DashBoard</a></li>
            <li><a routerLink="/Admin/AddPolicy" *ngIf="service.isLoggedIn()">Add Policy</a></li>
            <li><a routerLink="/Admin/AddClaimTracker" *ngIf="service.isLoggedIn()">Add Claim Tracker</a></li>
            <li><a routerLink="/Admin/AllClaimTrackers" *ngIf="service.isLoggedIn()">All Claim Tracker</a></li>
            <li><a routerLink="/ChangePassword" *ngIf="service.isLoggedIn()">Change Password</a></li>
            <li><a (click)="Logout()" *ngIf="service.isLoggedIn()">Logout</a></li>
            <li><a routerLink="Login" *ngIf="!service.isLoggedIn()">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> -->