<h2 style="text-align:center">Policy Details</h2>

    
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <tr>
    
                <td><b> Policy Name:</b></td>
                <td>
                    <input type="text" disabled name="PolicyName" value="Policy1" required="required">
                </td>
            </tr>
    
            <tr>
    
                <td><b>Benefits:</b></td>
                <td>
                    <input type="text" disabled value="Market Plus" name="PolicyDescription" required="required">
                </td>
            </tr>

            <tr>
    
                <td><b>Years:</b></td>
                <td>
                    <input type="Number" disabled value="5" name="PolicyDuration" required="required">
                </td>
            </tr>

            <tr>
    
                <td><b>Amount for Insurance:</b></td>
                <td>
                    <input type="Number" disabled value="98967" name="Totle Insurance Amount" required="required">
                </td>
            </tr>
    
            
        </table>

