<h2 style="text-align:center">Policy Details</h2>

    
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <tr>
    
                <td><b> Policy Name:</b></td>
                <td>
                    <input type="text"  name="policyname" value="{{this.PolicyData.policyname}}" required="required">
                </td>
            </tr>
    
            <tr>
    
                <td><b>Benefits:</b></td>
                <td>
                    
                    <textarea name="policydescription" id="policydescription" class="form-control" rows="3" required="required">{{this.PolicyData.policydescription}}</textarea>
                    
                    <!-- <input type="text" disabled value="{{this.PolicyData.policydescription}}" name="policydescription" required="required"> -->
                </td>
            </tr>

            <tr>
    
                <td><b>Years:</b></td>
                <td>
                    <input type="Number"  value="{{this.PolicyData.policyduration}}" name="policyduration" required="required">
                </td>
            </tr>

            <tr>
    
                <td><b>Amount for Insurance:</b></td>
                <td>
                    <input type="Number"  value="{{this.PolicyData.totalinsuranceamount}}" name="totalinsuranceamount" required="required">
                </td>
            </tr>
            <tr>
                    <input type="button" routerLink="/Home"  name="bckbtn" class="btn btn-info" value="Back">
            </tr>
            
        </table>

