<h2 style="text-align:center">Add Policy</h2>

    <form #myForm="ngForm" (ngSubmit)="FormValidation(myForm)">
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <tr>
    
                <td><b> UserId</b></td>
                <td>
                    <input ngModel type="number" placeholder="Enter UserId" name="userId" required>
                </td>
            </tr>
    
            <tr>
    
                <td><b>Remarks:</b></td>
                <td>
                    
                    <textarea ngModel name="remarks" placeholder="Enter Remark for Claim" id="remarks" cols="30" rows="5"></textarea>
                </td>
            </tr>

            <tr>
    
                <td><b>Claim Status:</b></td>
                <td>
                  <select style="background-color: aliceblue;" ngModel name="claimstatus"  placeholder="Select Claim Status" required id="claimstatus" class="form-control">
                    <!-- <option value="" style="color:black;" disabled selected hidden>Select your option</option>  -->
                <option value="APPROVED" >APPROVED</option>
                 <option value="PROCESSING">PROCESSING</option>
                 <option value="REJECTED">REJECTED</option>
               </select>
                </td>
            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" name="addpolicytbtn" class="btn btn-info" value="Add Policy">
                    <label style="position: absolute; left: 150px; "><b>{{msg}}</b></label>
                           
                </td>
            </tr>
            
        </table>


    </form>