<h2 style="text-align:center">Change Password</h2>

   
        <table style="align-content: center;margin-left:auto;margin-right:auto;" height="300px" width="400px" >
            
    
            <tr>
    
                <td><b> Password:</b></td>
                <td>
                    <input type="password" [(ngModel)]="UserData.passwd" name="passwd" required="required">
                </td>
            </tr>
    
            <tr>
    
                <td><b>Confirm Password:</b></td>
                <td>
                    <input type="password" [(ngModel)]="UserData.cnfmpassword" name="cnfmpassword" required="required">
                </td>
            </tr>
    
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="button" (click)="UpdateUserPassword()" name="updtbtn" class="btn btn-info" value="Update Password">
                    <button type="button" routerLink="/Profile" class="cancelbtn">Cancel</button>
                           
                </td>
            </tr>
        </table>


   