CREATE TABLE [dbo].[T_States](
	[Code] [smallint] NOT NULL,
	[State] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)


INSERT [dbo].[T_States] ([Code], [State]) VALUES (1, N'Andaman & Nicobar')
INSERT [dbo].[T_States] ([Code], [State]) VALUES (2, N'Andhra Pradesh')
INSERT [dbo].[T_States] ([Code], [State]) VALUES (3, N'Arunachal Pradesh')

CREATE TABLE [dbo].[T_Cities](
	[Code] [smallint] NOT NULL,
	[City] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[State] [smallint] NULL
)


INSERT [dbo].[T_Cities] ([Code], [City], [State]) VALUES (1001, N'AHMEDABAD LOCAL', 8)
INSERT [dbo].[T_Cities] ([Code], [City], [State]) VALUES (1002, N'BANGALORE', 13)
INSERT [dbo].[T_Cities] ([Code], [City], [State]) VALUES (1003, N'CUTTACK', 22)

print 'Processed 100 total records'

print 'Processed 200 total records'

print 'Processed 300 total records'

print 'Processed 400 total records'

print 'Processed 500 total records'

print 'Processed 600 total records'

print 'Processed 700 total records'

print 'Processed 800 total records'

print 'Processed 900 total records'

print 'Processed 1000 total records'

print 'Processed 1100 total records'

print 'Processed 1200 total records'

print 'Processed 1300 total records'

print 'Processed 1400 total records'

print 'Processed 1500 total records'

print 'Processed 1600 total records'

print 'Processed 1700 total records'

print 'Processed 1800 total records'

print 'Processed 1900 total records'

print 'Processed 2000 total records'

print 'Processed 2100 total records'

print 'Processed 2200 total records'

print 'Processed 2300 total records'

print 'Processed 2400 total records'

print 'Processed 2500 total records'

print 'Processed 2600 total records'

CREATE TABLE [dbo].[T_Countries](
	[Code] [smallint] NOT NULL,
	[Country] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)


INSERT [dbo].[T_Countries] ([Code], [Country]) VALUES (101, N'Anguilla')
INSERT [dbo].[T_Countries] ([Code], [Country]) VALUES (102, N'Antigua and Barbuda')
INSERT [dbo].[T_Countries] ([Code], [Country]) VALUES (103, N'Bahamas (Commonwealth of the)')

print 'Processed 100 total records'

print 'Processed 200 total records'
