<!DOCTYPE html>
<html lang="en">

<body>
  <h1 style="text-align: center;">Admin - Online Insurance Management System</h1>

  
  
<button type="button" routerLink="/Admin/AddPolicy" class="btn btn-info">Add New Policy</button><br>
<table class="table">
<tr>
<th>Customer Policy ID</th>
<!-- <th>Customer Name</th> -->
<th>Policy ID</th>
<th>Policy Name</th>
<th>Years</th>
<th>Buy Date</th>
<th>Premium Amount</th>
<th>Paid Premium Count</th>
<th>Total Premium Count </th>
<th></th>

</tr>
   
   <tr routerLink="/Admin/ManagePolicy/1" *ngFor="let cpdetails of AllCustPolicyData" >
    <td>{{cpdetails.cpid}}</td>
    <!-- <td>Customer Name</td> -->
       <td>{{cpdetails.policyid.policyid}}</td>
       <td>{{cpdetails.policyid.policyname}}</td>
       
       <td>{{cpdetails.policyid.policyduration}}</td>

       <td>{{cpdetails.buydate |  date:'yyyy-MM-dd'}}</td>
       <td>{{cpdetails.premiumamout}}</td>
       <td>{{cpdetails.paidpremiumcount}}</td>
       <td>{{cpdetails.totalpremiumcount}}</td>
       
       
  </tr>



</table>


  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div>

</body>

</html>