<table class="table">
  <tr>
      <th>Policy ID</th>
      <th>Policy Name</th>
      <th>Policy Decription</th>
      <th>Years</th>
      <th>Amount</th>
      <th>Buy</th>
      
      
  </tr>
  
         
         <tr>
             
          <td>2</td>
          <td>Policy2</td>
          <td>Market PlusIII</td>
          
          <td>14</td>
          
          <td>98967</td>
          
             <td><input type="button" id="btnBUY" class="btn btn-info" name="btnBUY" routerLink="/PremiumCalculator" value="BUY" policyID="" ></td>
             
        </tr>
   


</table>