<div class="container">
    <form >
    <h2 style="color: rgb(124, 8, 8);"><b>{{UserProfileData.fname}}</b></h2>
    <div class="row">
        <div class="col">
            <label for="exampleInputEmail1">First Name</label>
        </div>
        <div class="col">
            <label for="exampleInputEmail1">{{this.UserProfileData.fname}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="exampleInputEmail1">Last Name</label>
        </div>
        <div class="col">
            <label for="exampleInputEmail1">{{this.UserProfileData.lname}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="exampleInputEmail1">Gender</label>
        </div>
        <div class="col">
            <label for="exampleInputEmail1">{{this.UserProfileData.gender}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="exampleInputEmail1">Phone Number</label>
        </div>
        <div class="col">
            <label for="exampleInputEmail1">{{this.UserProfileData.mobile}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="exampleInputEmail1">Date of Birth</label>
        </div>
        <div class="col">
            <label for="exampleInputEmail1">{{this.UserProfileData.dob |  date:'yyyy-MM-dd'}}</label>
        </div>
    </div>

    <button type="button" routerLink="/EditProfile" class="btn btn-primary">Edit Profile</button>
</form>
</div>



<!-- <div class="imgcontainer">
    <img src="./assets/icons-user-profile.png" style="height: 150px; width: 150px;"
        alt="Online Insurance Management System_Icon" class="Icon">
</div>
<h2 style="color: rgb(124, 8, 8);"><b>{{UserProfileData.fname}}</b></h2>
<div class="container" style="text-align: left">
    <label><b>First Name</b></label>
    <div>{{this.UserProfileData.fname}}</div>
    <label><b>Last Name</b></label>
    <div>{{this.UserProfileData.lname}}</div>

    <label><b>Gender</b></label>
    <div>{{this.UserProfileData.gender}}</div>

    <label><b>Phone Number</b></label>
    <div>+91 {{this.UserProfileData.mobile}}</div>

    <label><b>Date of Birth</b></label>
    <div>{{this.UserProfileData.dob |  date:'yyyy-MM-dd'}}</div>

    <button type="submit" routerLink="/EditProfile">Edit Profile</button>

    <b style="position: absolute; left: 83px;">{{msg}}</b>
</div> -->